@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-Bold.ttf);
    font-weight: bold;
}

body {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    font-family: Poppins;
    background-color: #e9e8e6;
    color: grey;
    background-image: url(pozadi/plant-g11988ec55_1920.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right bottom;
}

header img {
    border-radius: 50%;   
    width: 250px;
    padding: 60px 0px;
}

.foto {
    text-align: center;
}

header {
    background-color: lightgray;
    padding: 0 20%;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin:0;
    border-bottom: 3px solid gray;
    padding-top: 60px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    margin: 0;
    margin-top: 60px;
}

.job {
   text-align: center;
   margin-top: 0;
}

footer {
    text-align: center;
    padding: 40px 0px;
}

section{
    border-top: 3px solid lightgray;  
    padding-left: 10%;
    margin: 0 20%;
}

table {
    border-spacing: 0;
    margin-top: 20px; 
}

th, td {
    padding: 10px 30px;
    text-align: left;
}

.adress {
    vertical-align:top ;
}

a {
    display:inline-flex;
}

a:hover {
    background-color: lightgrey;
    border-radius: 25%;
}

ul {
   list-style-type: none; 
   padding-left: 0;
}

.info {
    font-size: 14px;
}